<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>

    <div id="app">

        <div class="container">
            <div class="slider-wrapper" tabindex="0">
                
                <div class="item" @mouseover="autoStop" @mouseleave="autoPlay">
                    <img :src="`./${slides[activeImg].image}`" :alt="slides[activeImg].title" />
                    <div class="text">
                        <h3>{{slides[activeImg].title}}</h3>
                        <p>
                            {{slides[activeImg].text}}
                        </p>
                    </div>
                </div>

                <div class="thumbs" >
                    <div class="prev" @click="prevImg"></div>
                    <div class="next" @click="nextImg"></div>
                    <div v-for="items, index in slides" 
                    class="thumb" 
                    :class="activeImg == [index] ? 'active' : ' ' "
                    @click="clickThumb(index)">
                        <img :src="slides[index].image" :alt="slides[index].title" />
                    </div>
                </div>

            </div>
        </div>
        <div class="buttons">
            <button v-if="!button_disable" class="play" @click="autoPlay">play</button>
            <button v-else="button_disable" class="pause" @click="buttonStop">stop</button>
        </div>

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>